{% extends "layout.html" %}
{% block content %}
    <center><h1>Nuevo usuario</h1>
        <hr>
        <form action="" method="POST">
    <input type="text" id="nombre" name="nombre" class="inputtext1" placeholder="  Nombre"><br>
    <input type="text" id="apellido" name="apellido" class="inputtext1" placeholder="  Apellido"><br>
    <input type="text" id="user" name="user" class="inputtext1" placeholder="  User"><br>
    <input type="password" id="pwd" name="pwd" class="inputtext1" placeholder="  Contraseña"><br>
    <center><button onclick="submit" class="button">Aceptar</button></center>
</form>
</center>

    
{% endblock %}