{% extends "layout.html" %}
{% block content %}
    <h1>Consultas pendientes de Aprobación</h1>
    <table>
        <tr>
            <th>Paciente</th>
            <th>Fecha</th>
        </tr>
        {% for i in consultas %}
        <tr>
            <td><a href="/pendaprobarc/{{i[0]}}" style="color: black;"> {{i[1]}} {{i[2]}} {{i[3]}} {{i[4]}}</a></td>
            <td><a href="/pendaprobarc/{{i[0]}}" style="color: black;"> {{i[5]}}</a></td>
        </tr>
        {% endfor%}
    </table>
{% endblock %}