<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <style type="text/css">
    .letragrande{
        font-size: 25px;
    }
    .derecha {
        float: right;
        width: 40%;
        position: relative;
    }

    .derecha1 {
        float: right;
        width: 50%;
        position: relative;
    }

    .izquierda {
        float: left;
        width: 100%;
        position: relative;
    }

    .izquierda1 {
        float: left;
        width: 40%;
        position: relative;
    }
    h1, h2, h3, h4, h5, h6, p, label {
        color: #000000;
    }
    table, th, td {
        border: 1px solid black;
        color: #000000;
        border-collapse: collapse;
    }

    </style>
    {% if title %}
        <title>{{ title }} - Óptica Lasers</title>
    {% else %}
        <title>Óptica Lasers</title>
    {% endif %}
    <style type="text/css">
        * { margin: 0; padding: 0; }
        .clear { clear: both; }
        #page-wrap { width: 800px; margin: 40px auto 60px; }
        #pic { float: right; margin: -30px 0 0 0; }
        #page-wrap h2 { font-size: 20px; margin: 0 0 6px 0; position: relative; }
        #page-wrap h2 span { position: absolute; bottom: 0; right: 0; font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal; }
        #page-wrap a:hover { border-bottom-style: solid; color: black; }
        #page-wrap ul { margin: 0 0 32px 17px; }
        #page-wrap #objective { width: 500px; float: left; }
        #page-wrap #objective p { font-family: Georgia, Serif; font-style: italic; color: #666; }
        #page-wrap dt { font-style: italic; font-weight: bold; font-size: 18px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 200px; border-right: 1px solid #999;  }
        #page-wrap dd { width: 600px; float: right; }
        #page-wrap dd.clear { float: none; margin: 0; height: 15px; }
     </style>
     <style>
        body {
          background-image: url('');
        }
        </style>
</head>
<body>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div id="tblinfo1">
                    <div style="width: 40%; float: left; position: relative;">
                        <center><img src="C:\Users\DELL\Documents\sistemaoptica\flaskapp\static\logolasers.png" style="width: 100%;"> </center>
                    </div>
                    <div class="derecha">
                        <table>
                            <tr>
                                <th class="letragrande"><center>Telefonos:<br>7842-2189 7761-6821</center></th>
                            </tr>
                            <tr>
                                <th class="letragrande">Fecha: {{dataconsulta[0][4]}}</th>
                            </tr>
                        </table> 
                    </div>
                    <div class="izquierda">
                        <center>
                    <table style="width: 100%;">
                        <tr>
                            <th class="letragrande" style="background-color: #0000FF; color: white;">Nombre:</th>
                            <td class="letragrande" style="text-align: center;">{{dataconsulta[0][0]}} {{dataconsulta[0][1]}} {{dataconsulta[0][2]}} {{dataconsulta[0][3]}}</td>
                        </tr>
                    </table></center><br>
                        <center>
                            <table style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th class="letragrande" style="background-color: #0000FF; color: white;">RX</th>
                                        <th class="letragrande" style="background-color: #0000FF; color: white;">Esfera</th>
                                        <th class="letragrande" style="background-color: #0000FF; color: white;">Cilindro</th>
                                        <th class="letragrande" style="background-color: #0000FF; color: white;">Eje</th>
                                        <th class="letragrande" style="background-color: #0000FF; color: white;">Prisma</th>
                                        <th class="letragrande" style="background-color: #0000FF; color: white;">Lente Recomendado</th>
                                    </tr>
                                </thead>
                                    <tr>
                                        <th class="letragrande" style="background-color: #0000FF; color: white;">OD</th>
                                        <td class="letragrande" id="esod"></td>
                                        <td class="letragrande"  id="ciod"></td>
                                        <td class="letragrande" id="ejod"></td>
                                        <td class="letragrande" id="prod"></td>
                                        <td rowspan="3" class="letragrande">Tipo: {{lenterecomendado[0][0]}}<br>Material: {{lenterecomendado[0][1]}}<br>Filtro: {{lenterecomendado[0][2]}}<br>Color: {{lenterecomendado[0][3]}}<br>Tallado: {{lenterecomendado[0][4]}}</td>
                                    </tr>
                                    <tr>
                                        <th class="letragrande" style="background-color: #0000FF; color: white;">OI</th>
                                        <td class="letragrande" id="esoi"></td>
                                        <td class="letragrande" id="cioi"></td>
                                        <td class="letragrande" id="ejoi"></td>
                                        <td class="letragrande" id="proi"></td>
                                    </tr>
                                    <tr>
                                        <th class="letragrande" style="background-color: #0000FF; color: white;">DNP</th>
                                        <td class="letragrande">{{dataconsulta[0][7]}}</td>
                                        <th class="letragrande" style="background-color: #0000FF; color: white;">ADD</th>
                                        <td class="letragrande" id="add">{{dataconsulta[0][8]}}</td>
                                        <td class="letragrande"></td>
                                    </tr>
                            </table>
                            <table>
                                    <tr>
                                        <th colspan="2" style="padding-top: 1.5%; padding-bottom: 1.5%;" class="letragrande" >Lente Oftalmico. Uso: {{dataconsulta[0][5]}}  <br></th>
                                    </tr>
                                    <tr>
                                        <th class="letragrande" style="width: 30%; background-color: #0000FF; color: white;">Proxima evaluacion</th>
                                        <th rowspan="2" class="letragrande"><br><br><br></th>
                                    </tr>
                                    <tr>
                                        <th class="letragrande" style="color: red;">{{dataconsulta[0][6]}}</th>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <th colspan="5" class="letragrande">Lic Kevin Avendaño</th>
                                    </tr>
                                </thead>
                            </table>
                            <h6 style=" font-size: x-large; float: center; position: relative;">1 calle 12-10 Zona 3 Quetzaltenango</h6> 
                        </center>
                    </div><br><br><br><br>
                    </div>
            </div>
        </div>
    </main>
    <script>
        window.onload = function llenardata() {
            var reffin = {{ rf|tojson }};
            var esfera1 = document.getElementById('esod')
            var esfera2 = document.getElementById('esoi')
            var cilindro1 = document.getElementById('ciod')
            var cilindro2 = document.getElementById('cioi')
            var eje1 = document.getElementById('ejod')
            var eje2 = document.getElementById('ejoi')
            var prisma1 = document.getElementById('prod')
            var prisma2 = document.getElementById('proi')
            var aux = reffin[0][0]
            if (aux == 'N' || aux == 'n') {
                esfera1.innerHTML = aux
            }else {
                aux = parseFloat(aux).toFixed(2)
                if(aux > 0){
                    aux = '+' + String(aux)
                }else aux = String(aux)
                esfera1.innerHTML = aux
            }
            aux = reffin[1][0]
            if (aux == 'N' || aux == 'n') {
                esfera2.innerHTML = aux
            }else {
                aux = parseFloat(aux).toFixed(2)
                if(aux > 0){
                    aux = '+' + String(aux)
                }else aux = String(aux)
                esfera2.innerHTML = aux
            }
            aux = reffin[0][1]
            aux = parseFloat(aux).toFixed(2)
            if(aux > 0){
                aux = '+' + String(aux)
            }else aux = String(aux)
            cilindro1.innerHTML = aux
            aux = reffin[1][1]
            aux = parseFloat(aux).toFixed(2)
            if(aux > 0){
                aux = '+' + String(aux)
            }else aux = String(aux)
            cilindro2.innerHTML = aux
            aux = reffin[0][2]
            aux = parseFloat(aux).toFixed()
            aux = String(aux)
            eje1.innerHTML = aux
            aux = reffin[1][2]
            aux = parseFloat(aux).toFixed()
            aux = String(aux)
            eje2.innerHTML = aux
            aux = reffin[0][3]
            aux = parseFloat(aux).toFixed(2)
            if(aux > 0){
                aux = '+' + String(aux)
            }else aux = String(aux)
            prisma1.innerHTML = aux
            aux = reffin[1][3]
            aux = parseFloat(aux).toFixed(2)
            if(aux > 0){
                aux = '+' + String(aux)
            }else aux = String(aux)
            prisma2.innerHTML = aux
        }
    </script>
    <br><br><br><br>
    <footer class="page-footer font-small bg-steel">

        <!-- Copyright -->
        <!-- Copyright -->

    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>